<section class="row">
  <div class="col-md-12">
		<div class="part">
			<h1>Resources</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
  </div>
</section>

<section class="row background">
  <div class="col-md-4">
    <section>
      <img src="..." alt="...">
      <h3>Thumbnail label</h3>
      <p>...</p>
      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
    </section>
  </div>

	 <div class="col-md-4">
	  <section>
	    <img src="..." alt="...">
      <h3>Thumbnail label</h3>
      <p>...</p>
      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	  </section>
	</div>

  <div class="col-md-4">
	  <section>
	    <img src="..." alt="...">
      <h3>Thumbnail label</h3>
      <p>...</p>
      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	  </div>
  </section>
</section>