<section class="row background">
  <div class="col-md-3"></div>

  <section class="col-md-6 round-form">
    <h3>Add a New Resource</h3>

    <form method="post" action="/resources/new">

      <div class="form-group">
        <label for="name">name</label>
        <input class="form-control" type="text" name="name" id="name">
      </div>

      <input class="btn btn-default" type="submit">
    </form>
  </section>

  <div class="col-md-3"></div>
</section>