/* Body */
body{
	padding: 0;
	margin: 0;
	font-family: "Open Sans";
	line-height: 1.5;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;	
	background-color: gray;
}

h1, h2, h3, h4, h5{
	color:#000;
	font-weight: 600;
	margin: 1;
}

p{
	white-space: pre-wrap;
}

.side-line{
	border-style: solid;
	border-width: 0 0 0 5px;
	border-color: #0A9E01;
}

a, a:hover, a:focus, a:active, a:visited{
	color:#0A9E01;
	text-decoration: none;
}

section{
	background-color: #fff;
	padding: 15px 30px;
	margin: 0;
}

.background {
	background-color: #f5f5f5;
	padding: 30px 30px;
	/*padding: 30px 30px 15px 30px;*/
}

.part{
	padding: 15px;
	margin-bottom:15px;
}

.piece{
	margin-bottom:15px;
}

.request{
	background-color: #0A9E01;
	margin-bottom:15px;
}



/* Nav */
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color:#fff;
}

.navbar-default{
	background-color: #000;
	border-width: 0px;
	border-radius: 0px;
	padding: 15px 30px;
}

.nobottommargin{
	margin-bottom:-20px;
}

.navbar-default .navbar-brand{
	color: #fff;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}

.pop{
	background-color: #444;
	border-radius: 4px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background:#000;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-color:##f5f5f5;
}


/* Index */
.hero{
	background-image: url('../images/hero.png');
	background-position: center center;
	background-size: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

.hero h1, .hero p {
	color: #fff;
}

.hero h3{
	color: #0A9E01;	
}

.yinyang{
	padding: 15px 30px;
	margin: 0;
	height: 300px;
}

.yinyang h2 {
	color: #fff;
	padding-top: 30px;
}

.yin{
	background-color: #077600;
	color: #fff;
}

.yang{
	background-color: #077600;
	color: #fff;
}

.student{
	background-image: url('../images/mentor.jpg');
	background-position: center center;
	background-size: 100%;
}

.mentor{
	background-image: url('../images/mentor.jpg');
	background-position: center center;
	background-size: 100%;
}

.about{
	padding-top: 30px;
	text-align: center;
}

.icons{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 60px;
}

.icons img{
	display: block;
	width: 100%;
}

.quiz{
	text-align: center;
	background-image: url('../images/placeholder.png');
	background-position: center center;
	background-size: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

.video{
	text-align: center;
	background-color: #000;
	background-size: 100%;
	padding: 50px 200px;
}

.testimonials{
	text-align: center;
	background-image: url('../images/placeholder.png');
	background-position: center center;
	background-size: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}


/* Forms */
.round-form {
	border-radius: 8px;
}

/* Buttons */
a.btn{
	color:#fff;
	text-decoration: none;
}

.btn-primary{
	background-color: #0A9E01;
	border-width: 0px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #0cc501;
	border-width: 0px;
}

 .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	background-color: #0cc501;
	border-width: 0px;	
}

.btn-full{
	width:100%;
}

.btn-half-left{
	width:50%;
	border-radius: 4px 0 0 4px;
}

.btn-half-right{
	width:50%;
	border-radius: 0 4px 4px 0;
}

.glyphicon-pencil{
	font-size:13px;
}

.glyphicon-trash{
	font-size:13px;
}

.btn-primary h4{
	color: #fff;
}

.btn-edit{
	border-radius: 4px 4px 0 0;
	background-color: #5bc0de;
}

.btn-delete{ 
	border-radius: 0 0 4px 4px;
	background-color: #d9534f;
}

.btn-edit h4, .btn-delete h4{
	color: #fff;
}

/* Mentor Index */

.name-card{
	padding: 15px;
	margin-bottom:15px;
}

.name-card .avatar{
	width:20%;
	display: block;
	float:left;
}

.name-card .avatar img {
	width:100%;
}

.name-card .info{
	width:80%;
	display: block;
	padding-left: 15px;
	float:right;
}

.name-card h2{
	font-size: 22px;
	margin:0;
}

.name-card h3{
	font-size: 16px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
	background-color: #0A9E01;
	border-radius: 0px;
	border-width: 0px;
}

a.list-group-item, button.list-group-item{
	border-radius: 0px;
	border-width: 1px 0;
	border-color: #f5f5f5;
}

.list-group-item:last-child{
	border-radius: 0px;
	border-width: 1px 0 0 0;
	border-color: #f5f5f5;	
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover{
	background-color: #0cc501;
	color: #fff;
}




/* Mentor Profile */
.profile-card{
	padding: 15px;
	margin-bottom:15px;
}

.profile-card .avatar{
	width:30%;
	display: block;
	float:left;
}

.profile-card .avatar img {
	width:100%;
}

.profile-card .info{
	width:70%;
	display: block;
	padding-left: 15px;
	float:right;
}

.profile-card h1{
	font-size: 22px;
}

.profile-card h2{
	font-size: 16px;
}

.profile-card h3{
	font-size: 12px;
}

.incomplete{
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

/* Search */
.input-group .form-control, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
	margin-top: 8px;
	margin-bottom: 0px; 
}

/* Resource Index */
.resource-card{
	padding: 15px;
	margin-bottom:30px;
}

.icon img{
	width:100%;
}

.resource-card h3{
	font-size: 18px;
}

.resource-card h4{
	font-size: 14px;
}

.resource-card p{
	font-size: 13px;
}

.pros{
	border-style: solid;
	border-width: 0 0 0 5px;
	border-color: #0A9E01;
	padding-left: 5px;
}

.cons{
	border-style: solid;
	border-width: 0 0 0 5px;
	border-color: #d9534f;
	padding-left: 5px;	
}


/* Quiz */

.tom{
	text-align: center;
	background-color: red;
	padding-top: 50px;
	padding-bottom: 50px;
}

.jerry{
	text-align: center;
	background-color: blue;
	padding-top: 50px;
	padding-bottom: 50px;
}

.tom h2, .jerry h2{
	color:#fff;
	font-size: 18px;
}

.tom label, .jerry label{
	color:#fff;
}


/* Footer */
footer{
	background-color: #000;
	padding: 30px 15px;
	margin: 0;
	text-align: center;
}
 
footer p{
	color: #f5f5f5;
}