<section class="row background incomplete">
  <div class="col-md-3"></div>

  <section class="col-md-6 round-form">
    <h3>Message Sent!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </section>

  <div class="col-md-3"></div>
</section>