<section class="row hero">
  <div class="col-md-12">
	  <h1>Hello, world!</h1>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Take our Quiz</a></p>
  </div>
</section>

<section class="row center">
  <div class="col-md-2"></div>

  <div class="col-md-8">
		<h2>About</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

  <div class="col-md-2"></div>
</section>

<section class="row center">
  <div class="col-md-2">
		<img src="./images/placeholder.png">
  </div>

  <div class="col-md-2">
		<img src="./images/placeholder.png">
  </div>

  <div class="col-md-2">
		<img src="./images/placeholder.png">
  </div>

   <div class="col-md-2">
		<img src="./images/placeholder.png">
  </div>

  <div class="col-md-2">
		<img src="./images/placeholder.png">
  </div>

  <div class="col-md-2">
		<img src="./images/placeholder.png">
  </div>
</section>

<div class="row">
  <div class="col-md-6 yin">
  	<div class="yinyang">
			<h2>About</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
  </div>

  <div class="col-md-6 yang">
  	<div class="yinyang">
			<h2>FIND A MENTOR</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 yang">
  	<div class="yinyang">
			<h2>BECOME A MENTOR</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
  </div>

  <div class="col-md-6 yin">
  	<div class="yinyang">
			<h2>About</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
  </div>
</div>