<section class="row hero">
  <div class="col-md-9">
	  <h3>Thinking about a future in technology?</h3>
	  <h1>Getting started is the hardest part.</h1>
	  <p>Mentors on this site WANT to help you. Don't be afraid to send them a request. They are accomplished professionals who want to help you through your path of discovery in this new world of technology.</p>
	  <p><a class="btn btn-primary btn-lg" href="/mentors" role="button">Find a mentor here!</a></p>
  </div>
</section>

<section class="row about">
  <div class="col-md-2"></div>
  <div class="col-md-8">
		<h2>mentor(student)</h2>
		<p>There are many areas of development to explore and focus on. We've grouped them into four major categories. All of the mentors on this site have expertise in one of these areas. You will be able to find a mentor that matches your interests!</p>
  </div>
  <div class="col-md-2"></div>
</section>

<section class="row icons">
  <div class="col-md-3">
		<img src="./images/software-engineer.png"> 
		<h5>Software</h5>
  </div>

  <div class="col-md-3">
		<img src="./images/web-development.png"> 
		<h5>Web Development</h5>
  </div>

  <div class="col-md-3">
		<img src="./images/game-design.png"> 
		<h5>Game Design</h5>
  </div>

  <div class="col-md-3">
		<img src="./images/cyber-security.png"> 
		<h5>Cyber Security</h5>
  </div>
</section>

<section class="row video-box">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  	<div class="video">
  		<iframe width="560" height="315" src="https://www.youtube.com/embed/dU1xS07N-FA" frameborder="0" allowfullscreen></iframe>
  	</div>
  </div>
  <div class="col-md-2"></div>
</section>

<div class="row">
  <div class="col-md-6 mentor">
  	<div class="yinyang"></div>
  </div>

  <div class="col-md-6 yang">
  	<div class="yinyang">
			<h2>FIND A MENTOR</h2>
			<p>Browse through our group of Mentors and find one that inspires you! They are all friendly and looking for someone they can help.</p>
			<p><a class="btn btn-primary btn-md" href="mentors" role="button">Browse</a></p>
		</div>
  </div>
</div>

<section class="row quiz">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>Haven't figured out what part of tech is right for you?</h2>
    <p>Here is a quiz that you can use to see what area of development you might excel in! Just answer the questions based on your interests and we will point you in the right direction.</p>
    <p><a class="btn btn-primary btn-md" href="/quiz" role="button">Click Here to take our Quiz!</a></p>
  </div>
  <div class="col-md-2"></div>
</section>

<div class="row">
  <div class="col-md-6 yin">
  	<div class="yinyang">
			<h2>BECOME A MENTOR</h2>
			<p>Are you a seasoned tech professional? Do you like giving back and helping young talent? You might be a perfect candidate to become a Tech Mentor! Sign up here to create your profile to begin today.</p>
			<p><a class="btn btn-primary btn-md" href="signup" role="button">Sign Up</a></p>
		</div>
  </div>

  <div class="col-md-6 student">
  	<div class="yinyang"></div>
  </div>
</div>