<section class="row hero">
  <div class="col-md-9">
	  <h3>Thinking about blah blah in technology?</h3>
	  <h1>Getting started is the hardest part.</h1>
	  <p>Mentors on this site WANT to help you. Don't be afraid to send them a student request. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	  <p><a class="btn btn-primary btn-lg" href="/mentors" role="button">Find a mentor who can help jumpstart the process.</a></p>
  </div>
</section>

<section class="row about">
  <div class="col-md-2"></div>

  <div class="col-md-8">
		<h2>Student.mentor()</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

  <div class="col-md-2"></div>
</section>

<section class="row icons">
  <div class="col-md-3">
		<img src="./images/placeholder.png"> 
		<h5>Software Development</h5>
  </div>

  <div class="col-md-3">
		<img src="./images/placeholder.png"> 
		<h5>Web Development</h5>
  </div>

  <div class="col-md-3">
		<img src="./images/placeholder.png"> 
		<h5>Game Design</h5>
  </div>

  <div class="col-md-3">
		<img src="./images/placeholder.png"> 
		<h5>Cyber Security</h5>
  </div>
</section>

<section class="row video">
  <div class="col-md-12">
  	<div class="embed-responsive embed-responsive-16by9">
  		<iframe width="560" height="315" src="https://www.youtube.com/embed/dU1xS07N-FA" frameborder="0" allowfullscreen></iframe>
  	</div>
  </div>
</section>

<section class="row quiz">
  <div class="col-md-2"></div>

  <div class="col-md-8">
		<h2>Haven't figured out what part of tech is right for you?</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><a class="btn btn-primary btn-md" href="/quiz" role="button">Click Here to take our Quiz!</a></p>
  </div>

  <div class="col-md-2"></div>
</section>

<div class="row">
  <div class="col-md-6 mentor">
  	<div class="yinyang"></div>
  </div>

  <div class="col-md-6 yang">
  	<div class="yinyang">
			<h2>FIND A MENTOR</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<p><a class="btn btn-primary btn-md" href="mentors" role="button">Browse</a></p>
		</div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 yin">
  	<div class="yinyang">
			<h2>BECOME A MENTOR</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<p><a class="btn btn-primary btn-md" href="mentors/signup" role="button">Sign Up</a></p>
		</div>
  </div>

  <div class="col-md-6 student">
  	<div class="yinyang"></div>
  </div>
</div>

<section class="row quiz">
  <div class="col-md-2"></div>

  <div class="col-md-8">
		<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
  </div>

  <div class="col-md-2"></div>
</section>