<section class="row background">
  <div class="col-md-6">
    <section class="piece">
	    <h2>Students</h2>
  	</section>
	</div>

  <div class="col-md-6">
    <section class="piece">
	    <h2>Mentors</h2>
  	</section>
	</div>
</section>

