<section class="row tom">
  <div class="col-md-12">
		<h1>Quiz</h1>
	</div>
</section>

<section class="row jerry">
  <div class="col-md-12">
		<form id="quiz">
			<h2>Are you interested in making mobile apps?</h2>
				<label><input name="q1" type="radio" value="true" />True</label>
				<label><input name="q1" type="radio" value="false" /> False</label>
	</div>
</section>

<section class="row tom">
  <div class="col-md-12">
			<h2>Are you interested in making games?</h2>
				<label><input name="q2" type="radio" value="true" />True</label>
				<label><input name="q2" type="radio" value="false" />False</label>
	</div>
</section>

<section class="row jerry">
  <div class="col-md-12">
			<h2>Do you enjoy solving complicated problems?</h2>
				<label><input name="q3" type="radio" value="true" />True</label>
				<label><input name="q3" type="radio" value="false" />False</label>
	</div>
</section>

<section class="row tom">
  <div class="col-md-12">
			<h2>Which of the following programming languages have you heard of before? [Check all that apply]</h2>
				<label><input name="JavaScript" type="checkbox" value="javascript" />JavaScript</label>
				<label><input name="q4" type="checkbox" value="ruby" />Ruby</label>
				<label><input name="q4" type="checkbox" value="php" />PHP</label>
				<label><input name="q4" type="checkbox" value="swift" />Swift</label>
				<label><input name="q4" type="checkbox" value="python" />Python</label>
				<label><input name="q4" type="checkbox" value="java" />Corona</label>
				<label><input name="q4" type="checkbox" value="HTML" />HTML</label>
	</div>
</section>

<section class="row jerry">
  <div class="col-md-12">
			<h2>Do you enjoy designing things?</h2>
				<label><input name="q5" type="radio" value="true" />True</label>
				<label><input name="q5" type="radio" value="false" />False</label>
	</div>
</section>

<section class="row tom">
  <div class="col-md-12">
			<input data-toggle="modal" data-target="#myModal" id="quiz-submit" name="submit" type="button" value="Grade This Quiz" />
		</form>
	</div>
</section>	

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Which language should you start with?</h4>
		      </div>
		      <div class="modal-body">
		      	<!-- Module Text -->
		      </div>
		    </div>
		  </div>
		</div>
  </div>
</section>

<script>
	var $checkboxes = $('input[type=checkbox]')
	console.log($checkboxes[0])
	$('#quiz-submit').click(function(){
		//console.log($checkboxes[0].checked)
		//javascript combos
		if (($checkboxes[0].checked)&& ($checkboxes[1].checked)){
			//alert('Not checked')
			$('.modal-body').html('The world needs more App developers. Maybe start by taking a look at HTML, JavaScript & CSS. ')
		} else if (($checkboxes[0].checked)&& ($checkboxes[2].checked)){
			//alert('Not checked')
			$('.modal-body').html('PHP is powerful, get out there and learn you some')
		} else if (($checkboxes[0].checked)&& ($checkboxes[3].checked)){
			//alert('Not checked')
			$('.modal-body').html('Mobile Apps rule the world, get out there and learn you some Ruby.')
		} else if (($checkboxes[0].checked)&& ($checkboxes[4].checked)){
			//alert('Not checked')
			$('.modal-body').html('You are a slythery snake, go learn some Python.')
		} else if (($checkboxes[0].checked)&& ($checkboxes[5].checked)){
			//alert('Not checked')
			$('.modal-body').html('Beep Boop Bleep... Look into Android Development...maybe?')
		} else if (($checkboxes[0].checked)&& ($checkboxes[6].checked)){
			//alert('Not checked')
			$('.modal-body').html('Maybe start a blog, but first learn some HTML...')
		} else if ($checkboxes[0].checked){
			//alert("Javascript is checked")
			$('.modal-body').html('You might be the next Javascript master!')
		} else if ($checkboxes[1].checked){
			//alert('Not checked')
			$('.modal-body').html('Future Ruby master in the making...')
		} else if ($checkboxes[2].checked){
			//alert('Not checked')
			$('.modal-body').html('Future Zuckerberg in the flesh, PHP rules the web.')
		} else if ($checkboxes[3].checked){
			//alert('Not checked')
			$('.modal-body').html('You might be the next big thing in the App Store, Swift is for you')
		} else if ($checkboxes[4].checked){
			//alert('Not checked')
			$('.modal-body').html('Python is gaining momentum, Ruby and Python might be your style.')
		} else if ($checkboxes[5].checked){
			//alert('Not checked')
			$('.modal-body').html('Corona is user friendly, new Android apps await you.')
		} else if ($checkboxes[6].checked){
			//alert('Not checked')
			$('.modal-body').html('HTML... classic. Start here and build a strong foundation for web development. ')
		} else {
			$('.modal-body').html('You seem pretty well rounded, thats a great thing. Dive into any of these great languages and dont look back.')	
		}	
		
	})
</script>