<section class="row quiz-background">
  <div class="col-md-3"></div>

  <section class="col-md-6 round-form">
		<h3>Quiz</h3><hr>

		<form id="quiz">
			<div class="form-group">
				<label>Are you interested in making mobile apps?</label><br>
				<label><input name="q1" type="radio" value="true" /> True</label>
				<label><input name="q1" type="radio" value="false" /> False</label>
      </div><hr>

			<div class="form-group">
				<label>Are you interested in making games?</label><br>
				<label><input name="q2" type="radio" value="true" /> True</label>
				<label><input name="q2" type="radio" value="false" /> False</label>
      </div><hr>
      
			<div class="form-group">
				<label>Do you enjoy solving complicated problems?</label><br>
				<label><input name="q3" type="radio" value="true" /> True</label>
				<label><input name="q3" type="radio" value="false" /> False</label>
      </div><hr>
      
			<div class="form-group">
				<label>Which of the following programming languages have you heard of before? [Check all that apply]</label>
				<div class="checkbox">
					<label><input name="JavaScript" type="checkbox" value="javascript" /> JavaScript</label><br>
					<label><input name="q4" type="checkbox" value="ruby" /> Ruby</label><br>
					<label><input name="q4" type="checkbox" value="php" /> PHP</label><br>
					<label><input name="q4" type="checkbox" value="swift" /> Swift</label><br>
					<label><input name="q4" type="checkbox" value="python" /> Python</label><br>
					<label><input name="q4" type="checkbox" value="java" /> Corona</label><br>
					<label><input name="q4" type="checkbox" value="HTML" /> HTML</label><br>
	      </div>
      </div><hr>

			<div class="form-group">
				<label>Do you enjoy designing things?</label><br>
				<label><input name="q5" type="radio" value="true" /> True</label>
				<label><input name="q5" type="radio" value="false" /> False</label>
      </div><hr>
      
			<input class="btn btn-default" data-toggle="modal" data-target="#myModal" id="quiz-submit" name="submit" type="button" value="Grade This Quiz" />
		</form>
	</section>
</section>	

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Which language should you start with?</h4>
	      </div>
		     <div class="modal-body">
		      	<!-- Module Text -->
		     </div>
		    </div>
		  </div>
		</div>
  </div>

  <div class="col-md-3"></div>
</section>

<script>
	var $checkboxes = $('input[type=checkbox]')
	console.log($checkboxes[0])
	$('#quiz-submit').click(function(){
		//console.log($checkboxes[0].checked)
		//javascript combos
		if (($checkboxes[0].checked)&& ($checkboxes[1].checked)){
			//alert('Not checked')
			$('.modal-body').html('The world needs more App developers. Maybe start by taking a look at HTML, JavaScript & CSS. ')
		} else if (($checkboxes[0].checked)&& ($checkboxes[2].checked)){
			//alert('Not checked')
			$('.modal-body').html('PHP is powerful, get out there and learn you some')
		} else if (($checkboxes[0].checked)&& ($checkboxes[3].checked)){
			//alert('Not checked')
			$('.modal-body').html('Mobile Apps rule the world, get out there and learn you some Ruby.')
		} else if (($checkboxes[0].checked)&& ($checkboxes[4].checked)){
			//alert('Not checked')
			$('.modal-body').html('You are a slythery snake, go learn some Python.')
		} else if (($checkboxes[0].checked)&& ($checkboxes[5].checked)){
			//alert('Not checked')
			$('.modal-body').html('Beep Boop Bleep... Look into Android Development...maybe?')
		} else if (($checkboxes[0].checked)&& ($checkboxes[6].checked)){
			//alert('Not checked')
			$('.modal-body').html('Maybe start a blog, but first learn some HTML...')
		} else if ($checkboxes[0].checked){
			//alert("Javascript is checked")
			$('.modal-body').html('You might be the next Javascript master!')
		} else if ($checkboxes[1].checked){
			//alert('Not checked')
			$('.modal-body').html('Future Ruby master in the making...')
		} else if ($checkboxes[2].checked){
			//alert('Not checked')
			$('.modal-body').html('Future Zuckerberg in the flesh, PHP rules the web.')
		} else if ($checkboxes[3].checked){
			//alert('Not checked')
			$('.modal-body').html('You might be the next big thing in the App Store, Swift is for you')
		} else if ($checkboxes[4].checked){
			//alert('Not checked')
			$('.modal-body').html('Python is gaining momentum, Ruby and Python might be your style.')
		} else if ($checkboxes[5].checked){
			//alert('Not checked')
			$('.modal-body').html('Corona is user friendly, new Android apps await you.')
		} else if ($checkboxes[6].checked){
			//alert('Not checked')
			$('.modal-body').html('HTML... classic. Start here and build a strong foundation for web development. ')
		} else {
			$('.modal-body').html('You seem pretty well rounded, thats a great thing. Dive into any of these great languages and dont look back.')	
		}	
		
	})
</script>