<section class="row background">
  <div class="col-md-3"></div>

  <section class="col-md-6 round-form">
    <h3>Step Two: Edit your Profile</h3>

    <form method="patch" action="/mentors/:id">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input class="form-control" type="text" name="first_name" id="first_name">
      </div>

      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input class="form-control" type="text" name="last_name" id="last_name">
      </div>

      <div class="form-group">
        <label for="headline">Headline</label>
        <input class="form-control" type="text" name="headline" id="headline">
      </div>
      
      <div class="form-group">
        <label for="photo">File input</label>
        <input type="file" id="photo">
        <p class="help-block">Example block-level help text here.</p>
      </div>

      <div class="form-group">
        <label for="intro">Introduction</label>
        <input class="form-control" type="text_area" name="intro" id="intro">
        <textarea class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="location">Location</label>
        <input class="form-control" type="text" name="location" id="location">
      </div>

      <div class="form-group">
        <label for="focus">Focus</label>
        <input class="form-control" type="text" name="focus" id="focus">
      </div>

      <div class="form-group">
        <label for="company">Company</label>
        <input class="form-control" type="text" name="company" id="company">
      </div> 

      <div class="form-group">
        <label for="company_link">Company Link</label>
        <input class="form-control" type="url" name="company_link" id="company_link">
      </div> 

      <div class="form-group">
        <label for="education">Education</label>
        <input class="form-control" type="text" name="education" id="education">
      </div> 

      <div class="form-group">
        <label for="personal_link">Personal Link</label>
        <input class="form-control" type="url" name="personal_link" id="personal_link">
      </div> 

      <div class="form-group">
        <label for="experiences">Experiences</label>
        <input class="form-control" type="text_area" name="experiences" id="experiences">
      </div> 

      <div class="form-group">
        <label for="skills">Skills</label>
        <input class="form-control" type="text" name="skills" id="skills">
      </div> 

      <div class="form-group">
        <label for="availibility">Availibility</label>
        <input class="form-control" type="text" name="availibility" id="availibility">
      </div> 

      <div class="form-group">
        <label for="time_zone">Time Zone</label>
        <input class="form-control" type="text" name="time_zone" id="time_zone">
      </div> 

      <div class="form-group">
        <label for="status">Status</label>
        <input class="form-control" type="text" name="status" id="status">
      </div> 

      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>

      <hr>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Option one is this and that&mdash;be sure to include why it's great
        </label>
      </div>
      <div class="checkbox disabled">
        <label>
          <input type="checkbox" value="" disabled>
          Option two is disabled
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Option one is this and that&mdash;be sure to include why it's great
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Option two can be something else and selecting it will deselect option one
        </label>
      </div>
      <div class="radio disabled">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
          Option three is disabled
        </label>
      </div>

      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>

      <input class="btn btn-default" type="submit">
    </form>
  </section>

  <div class="col-md-3"></div>
</section>