<section class="row background">
  <div class="col-md-3"></div>

  <section class="col-md-6 round-form">
    <h3>Step Two: Edit your Profile</h3>

      <div class="form-group">
        <label for="first_name">Frist Name</label>
        <input class="form-control" type="text" name="first_name" id="first_name">
      </div>

      <input class="btn btn-default" type="submit">
    </form>
  </section>

  <div class="col-md-3"></div>
</section>