<section class="row">
  <div class="col-md-4">
			<h1>Mentors</h1>
  </div>

  <section class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </section>
</section>


<section class="row background">
  <div class="col-md-4">
			<div class="list-group">
			  <a href="#" class="list-group-item active">Sort</a>
			  <a href="#" class="list-group-item">Name ABC...XYZ</a>
			  <a href="#" class="list-group-item">Name ZYX...CBA</a>
			</div>

			<div class="list-group">
			  <a href="#" class="list-group-item active">Filter</a>
			  <a href="#" class="list-group-item">Location</a>
			  <a href="#" class="list-group-item">Game Design</a>
			  <a href="#" class="list-group-item">Web Design</a>
			  <a href="#" class="list-group-item">Software Development</a>
			  <a href="#" class="list-group-item">Cyber Security</a>
			</div>
  </div>

  <div class="col-md-8">
	
		<% users.forEach(function(mentor){ %>
			<section class="namecard">
				<div class="avatar"><img src="./../images/placeholder.png"></div>
				<div class="info">
					<h5><%= mentor.first_name %> <%= mentor.last_name %></h5>
					<h5><%= mentor._id %></h5>
					<h5><%= mentor.focus %></h5>			
				</div>
				<div style="clear:both;"></div>	
			</section>
		<% }) %>

		<nav>
		  <ul class="pagination">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
</section>

